* {
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;  
    font-family: Roboto-Regular;
}
.window {
    margin-top: 50px;
    max-width: 500px;
    border-radius: 10px;
}
.window .header{
    padding: 50px;
    border-radius: 10px 10px 0 0;
}
.window .header img{
    height: 80px;
    margin-bottom: 20px;
}
.shadow {
    border-radius: 10px;
}
.window .body {
    padding: 20px 50px;
    border-radius: 0 0 10px 10px;
}
.footer button {
    border: 0;
    background-color: transparent;
    font-weight: 600;
    color: #7000b7;
}
.footer button:hover{
    color: #9e02ff;
}
.footer button:active{
    color: #460072;
}

#progress-bar {
    text-align: center;
    position: relative;
    margin-top: 20px;
    padding-bottom: 20px;
}

#progress-bar fieldset {
    background: white;
    border: 0 none;
    border-radius: 0.5rem;
    box-sizing: border-box;
    width: 100%;
    margin: 0;
    padding-bottom: 20px;
    position: relative
}

.finish {
    text-align: center
}

#progress-bar fieldset:not(:first-of-type) {
    display: none
}

#progress-bar .previous-step, .next-step {
    width: 100px;
    font-weight: bold;
    color: white;
    border: 0 none;
    border-radius: 0px;
    cursor: pointer;
    padding: 10px 5px;
    margin: 10px 5px 10px 0px;
    float: right
}

.progress-bar, .previous-step {
    background: #616161;
}

.progress-bar, .next-step {
    background: #2F8D46;
}

#progress-bar .previous-step:hover,
#progress-bar .previous-step:focus {
    background-color: #000000
}

#progress-bar .next-step:hover,
#progress-bar .next-step:focus {
    background-color: #2F8D46
}

.text {
    color: #2F8D46;
    font-weight: normal
}

#progressbar {
    padding: 0;
    overflow: hidden;
    color: lightgrey
}

#progressbar .active {
    color: #2F8D46
}

#progressbar li.active:before,
#progressbar li.active:after {
    background: #2F8D46
}

#progressbar .error {
    color: #e24641
}

#progressbar li.error:before,
#progressbar li.error:after {
    background: #e24641
}

#progressbar li {
    list-style-type: none;
    font-size: 15px;
    width: 50%;
    float: left;
    position: relative;
    font-weight: 400
}

#progressbar #step1:before {
    content: "1"
}

#progressbar #step2:before {
    content: "2"
}


#progressbar li:before {
    width: 50px;
    height: 50px;
    line-height: 45px;
    display: block;
    font-size: 20px;
    color: #ffffff;
    background: lightgray;
    border-radius: 50%;
    margin: 0 auto 10px auto;
    padding: 2px
}

#progressbar li:after {
    content: '';
    width: 100%;
    height: 2px;
    background: lightgray;
    position: absolute;
    left: 0;
    top: 25px;
    z-index: -1
}
.bg {
    position: absolute;
    z-index: -2;
    height: 1000px;
    width: 1000px;
}
.bg > svg {
    transform: rotate(89deg);
}
.window .body {
    background-color: #f8f9fa!important;
}
#menu {
    top: 15px;
    left: 15px;
    text-decoration: none;
}
#menu > .button {
    cursor: pointer;
    transition: .3s;
    background-color: transparent;
    padding: 7px;
    width: 35px;
    height: 35px;
    display: block;
    border-radius: 20px;
}
#reloadData {
    top: 15px;
    right: 15px;
    text-decoration: none;
}
#reloadData > .button {
    cursor: pointer;
    transition: .3s;
    background-color: transparent;
    padding: 7px;
    width: 35px;
    height: 35px;
    display: block;
    border-radius: 20px;
}

#menu .list-group > button {
    padding: 11px var(--bs-list-group-item-padding-x);
}
#menu .list-group > button:hover,
#reloadData .list-group > button:hover {
    color: #7000b7;
}
#menu > .button:hover,
#reloadData > .button:hover {
    background-color: #e3e3e3;
    color: #7000b7;
}
#menu > .button:active,
#reloadData > .button:active {
    background-color: #c7c6c6;
}
#menu .list-group-item {
    border: none !important;
    text-align: left !important;
}
#menu .list-group {
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    position: absolute;
    min-width: 260px;
}